<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>HeadCount</ion-title>
  </ion-toolbar>
  <ion-segment  style="background-color:#eaf5ff" scrollable class="subHeader" [(ngModel)]="page">
    <ion-segment-button checked value="0" (click)="selectedTab(0)">
        <!-- <ion-icon name="heart"></ion-icon> -->
      <ion-label>Summary</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selectedTab(1)">
        <!-- <ion-icon name="pin"></ion-icon> -->
        <ion-label>Quarter-wise HC</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" (click)="selectedTab(2)">
        <!-- <ion-icon name="pin"></ion-icon> -->
        <ion-label>PGM-wise HC</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3" (click)="selectedTab(3)">
        <!-- <ion-icon name="pin"></ion-icon> -->
        <ion-label>Month-wise HC</ion-label>
      </ion-segment-button>
     <!--  <ion-segment-button>
         <ion-icon name="pin"></ion-icon> 
        <ion-label>Month-wise HC</ion-label>
      </ion-segment-button> -->
      
</ion-segment>
</ion-header>

<ion-content padding>
  <ion-card style="margin-top:50px">

    <ion-slides #slider (ionSlideWillChange)="segmentChanged()" [pager]="false">
      <ion-slide value="0">
          <canvas id="barChart_OverallHc" style="position: relative; height:60vh; width:80vw;"></canvas>
      </ion-slide>
      <ion-slide value="1">
          <canvas id="barChart_QuaterHC" style="position: relative; height:60vh; width:80vw;"></canvas>
      </ion-slide>
      <ion-slide value="2">
          <canvas id="lineChart_PgmHc" style="position: relative; height:60vh; width:80vw;"></canvas>
      </ion-slide>
      <ion-slide value="3">
        <canvas id="lineChart_MonthwiseHc" style="position: relative; height:60vh; width:80vw;"></canvas>
    </ion-slide>
    </ion-slides>
   
    <!-- <canvas id="lineChart" style="height: 50vw; width: 40vw;"></canvas> -->
  

  </ion-card>
</ion-content>
